/* main_all.css > brandBox.css */

#brandBox { width:100%; height:auto; padding:5%; 
  box-sizing:border-box;
  background-image:linear-gradient(#fefff0,#f4ecbd);}

#brandBox h2 { height:auto; margin:30px auto 30px;
  text-align: center;
  font-size: 24px;}

.brandArea { width:auto; max-width:1024px; height:auto; margin:auto;}
  .brandArea > span { display:inline-block; width:100%; text-align: center;
    font-size: 1.125rem; margin-bottom:30px;}
.brandArea ul { width:100%; height:392px; padding:8px; overflow: hidden;
  background-color: rgba(255,255,255,0.3);
  transition:all 400ms ease;}
  .brandArea ul.moreview { height:784px;
  transition:all 400ms ease;}

.brandArea ul > li { float:left; width:23.4375%; min-width:200px; height:180px;
  margin: 8px 0.78125%; background-color: #fff;
  background-repeat: no-repeat; background-size: auto 100px ;
  background-position: 50% 50%;}
  .brandArea li > dl {  position:relative; opacity:0; width:100%; height:100%;}
  .brandArea li > dl dt { position:absolute; bottom:25px; left:50%; transform:translateX(-50%);
    display:inline-block; height:auto; font-weight:700; text-align: center;
    padding:4px; border:1px solid var(--color-dark-gray);}
  .brandArea li > dl dd { position:absolute; top:30px; left:50%; transform:translateX(-50%);
    width:220px; height:100px; font-weight: 700; font-size: 1.05rem;
    text-align: center; line-height:160%;}

.brandArea li:hover > dl { opacity:1; background-color: rgba(255,255,255,0.85);
  border:1px solid #ddd;
  transition:all 200ms linear;}

.brandList_btn { display:block; width:180px; height:40px; 
  box-sizing: border-box; padding: 0 30px;
  margin:auto; margin-top:35px;  
  background-color: var(--color-white);}
  .brandList_btn span {float:left; font-weight: 700; font-size: 1rem;}
  .brandList_btn i {float:right; font-size:1.2rem; }
  .brandList_btn i.moreview { transform: rotate(180deg);}