#footBox { position:relative;
  width:100%; min-width:600px; height:auto; min-height:200px; 
  padding: 25px 60px 0; box-sizing: border-box;
  font-size:0.875rem;
  background-color: #ddd;}

.company_info { float:left; margin-right:50px;}

.site_map { float:left; margin-right:30px;}
.site_map li { margin-bottom:5px;}

.address {float:left;}
.address li {margin-bottom:5px;}

.sns { float:right;}
.sns li { float:left; width:30px; height:30px; margin-right:20px;
  background-repeat: no-repeat; background-position: 50% 50%;
  background-size: contain;}

.sns li:nth-child(1) { background-image: url("../../../img/sns_icon/sns_blog.png");
  border-radius: 8px;}
.sns li:nth-child(2) { background-image: url("../../../img/sns_icon/sns_instagram.png");}
.sns li:nth-child(3) { background-image: url("../../../img/sns_icon/sns_facebook.png");}
.sns li:nth-child(4) { background-image: url("../../../img/sns_icon/sns_youtube.png");}

.copyright { position:absolute; bottom:20px; left:50%; transform:translateX(-50%)}
.copyright p { width:100%;}