#newsBox {width:100%; height:auto; min-height:540px; padding-top:80px;
  box-sizing:border-box;}

.newsArea { width:65%; min-width:1080px; height:auto; margin:auto;}

.noticeBox {float:left; width:520px; height:auto; min-height:400px;
  background-color: #ddd;}
  .noticeBox ul { width:90%; height:auto; margin:auto;
    background-color: #fff;}
  .noticeBox li { width:100%; height:30px; margin-bottom:15px;
    background-color: #000;}

.cmBox {float:right; width:520px; height:auto; min-height:400px;
  background-color: #ddd;}