/* variable.css */

:root {
  --color-black :#1a1b1d;
  --color-dark-gray :#4a4b4d;
  --color-light-gray :#babbbd;
  --color-white :#ffffff;
  --color-green :#71b32c;
  --color-dark-green :#41830c;
  --color-orange:#EA7B0C;
  --color-light-green:#f0f0d5;
}